/* This CSS file houses stylings that can be loaded in a non-critical manner */

a:hover {
	color: var(--secondary-light-color);
	transition: var(--transition);
}

.social-icon {
	cursor: pointer;
}

.project-card:hover {
	transform: scale(1.03);
}