@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/roboto/roboto-regular-latin.woff2') format('woff2');
	font-display: swap;
}

:root {
	--font-family: "Roboto", Arial, Helvetica, sans-serif;
	--primary-light: lightblue;
}

body {
	font-family: var(--font-family);
}

.hidden {
	display: none;
}

/* navbar */
nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

h1 {
	font-size: 2.5rem;
	margin: 0.67em 0;
}

.naventry {
	padding: 0 1rem
}

/* Social buttons (right side) */
.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
	background-color: rgba(211, 211, 211, 0.4);
	border-radius: 0.5rem;
	padding: 0.25rem;
	backdrop-filter: blur(4px);
}

.social-icon {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	object-fit: contain;
}

/* About me section. Profile picture + "about-me" text */
.profilepicture {
	width: 25rem;
	object-fit: contain;
	padding: 1rem;
	aspect-ratio: 1;
}

.aboutme {
	padding: 1rem;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 90%;
	max-width: 100rem;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 80rem;
}

.item {
	width: 60%;
}

.social-icon {
	cursor: pointer;
}

@media screen and (max-width: 60rem) {
	.about {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
	}

	.profilepicture {
		max-width: 25rem;
		width: 100%;
		height: auto;
		object-fit: contain;
		padding: 1rem;
	}
}

@media screen and (max-width: 35rem) {
	.navmenu {
		display: flex;
		flex-direction: column;
		align-items: end;
		padding: 0.5rem;
	}

	.naventry {
		margin: 0.5rem 1rem;
	}

	.socials {
		visibility: collapse;
	}
}

/* Footer */
footer {
	margin: 0;
	padding: 0;
	text-align: center;
}