/* Social buttons (right side) */
.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
}

.social-icon {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	object-fit: contain;
}